<h1>Create a new menu</h1>

<%= form_with  model: @menu, url: menus_path, local: true do |f| %>
  <p> 
    <%= f.label :name %><br/> 
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %> 
  </p>
<% end %>