<div class="container d-flex justify-content-center mt-5 pt-5">
    <div class="row">
        <div class="card text-center mb-3" style="width: 22rem; height:12rem">
            <div class="card-body">
                <h5 class="card-title">Varying Menu</h5>
                <div class="row gy-3">
                    <div class="col-12">


                        <%= button_to 'Pickup' , branch_index_path, method: :get, class: 'btn btn-danger rounded-0 mt-2', style: 'width: 10rem;' %>

                    </div>
                    <div class="col-12 pt-3">
                        <a class="btn btn-warning rounded-0" style="width: 10rem;">Delivery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--User Location <%= @country %>-->