<div class="container mt-4">
  <h1>Order listing page</h1>

  <table class="table">
    <thead>
      <tr>
        <th >Number of Order</th>
        <th >Branch</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td ><%= order.id %></td>
          <td ><%= order.branch_id %></td>
          <td ><%= link_to 'Show', "orders/#{order.id}", class: "btn btn-warning rounded-0" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>